node_modules/
dist/
.env
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.DS_Store
docker-compose.override.yml
coverage/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
